html,
body {
  margin: 0;
  padding: 0;
}
.container {
  background-image: linear-gradient(
      to bottom right,
      rgba(128, 77, 0, 0.83),
      rgba(153, 85, 117, 0.803)
    ),
    url(background.png);

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: ivory;
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  transform: rotate(-55deg);
}
p {
  color: ivory;
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.art {
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 3px 0px 100px rgba(0, 0, 0, 0.816);
}
.hidden {
  display: none;
}
.playing {
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.paused {
  animation-play-state: paused;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
