/* ------Reusable---------- */
* {
    margin: 0;
    padding: 0;
} 
img {
    max-width: 100%;
}
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
section {
    padding: 40px;
}
li {
    list-style: none;
}

.line {
    display: block;
    height: 2px;
    color: transparent;
    background-color: #74ce7d;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
}
h1, 
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
}
.heading3 {
    text-align: center;
}
.white {
    color: #fff;
}
h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
.long-copy {
    line-height: 145%;
    font-size: 115%;
}
p {
    font-size: 100%;
    line-height: 145%;
    font-weight: 100;
    color: #555;
}


/* ------Icons---------- */
ion-icon {
    --ionicon-stroke-width: 19px;
    font-size: 300%;
    display: block;
    color: #41aa9d;
    margin-bottom: 15px;
}

/* ------ Nav -------- */
nav a {
    margin-top: 30px;
    position: relative;
    left: 3%;
    padding: 0 5px;
}
nav a:link,
nav a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}
nav a:active,
nav a:hover { border-bottom: 2px solid #74ce7d; }

/* ----------------------------- */
/* ------ Buttons -------- */
/* ----------------------------- */
.btn:link,
.btn:visited,
input[type=submit] {
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    text-transform: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    margin-right: 20px;
    background-color: #41aa9d;
    border: 1px solid #41aa9d;
    color: #fff;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #41aa9d;
    color: #41aa9d;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #74ce7d;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #74ce7d;
    
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #74ce7d;
    color: #fff;
}

/*------Header-----*/
.bkImg1 {
    background-image: linear-gradient(#0a1136bf, rgba(0, 0, 0, 0.509)), url(img/poolFire_lg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    height: 100vh;
}
.logo {
    height: 140px;
}
.hero {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: center;
    height: 100vh;
}
.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

/*-----About-----*/
.row-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}
.container-2 {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
    line-height: 145%;
    color: #555;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.container-3 {
    display: flex;
    font-size: 80%;
    line-height: 145%;
    color: #555;
}
.col-sm {
    padding: 10px;
}

/*------Gallery-Services-----*/
.bkImg2 {
    background-image: linear-gradient(#0a1136de, rgba(0, 0, 0, 0.844)), url(img/totLot_lg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.one {
    width: 24%;
    max-width: 100%; /*Webkit: animation duration*/ /*Mozilla: animation duration*/ /*Opera: animation duration*/
    transition-duration: 0.5s; /*Opera: animation duration*/
    opacity: 1; /*initial opacity of the image*/
    z-index: 1; /*place non-hover images behind the hover image*/
    margin: 0; /*remove default margin for images*/
    position: relative; /*solve the problem with z-index in Chrome*/
}
.one:hover { /*Webkit: increase size to 1.5x*/ /*Mozilla: scaling*/ /*Opera: scaling*/
    transform: scale( 1.4 ); /*Opera: scaling*/
    box-shadow: 0px 0px 25px gray; /*CSS3 shadows: 25px fuzzy shadow around the entire image*/
    -webkit-box-shadow: 0px 0px 25px gray; /*Webkit: shadows*/
    -moz-box-shadow: 0px 0px 25px gray; /*Mozilla: shadows*/
    opacity: 1; /*default opacity*/
    z-index: 10; /*place hover image in front the non-hover images*/
}
.padding-top {
    padding-top: 40px;
}
.col-container {
    display: flex;
    justify-content: center;
}
.bkImg3 {
    background-image: linear-gradient(#0a1136d8, rgba(0, 0, 0, 0.83)), url(img/brick_sm.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.const-container {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.email-phone {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}